@font-face {
    font-family: 'Billy_Ohio';
    src: url('Billy_Ohio.ttf');
}

*{
    color: white;
    font-family: andulus;
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
}




body{
    margin: 0px;
    padding: 0px;
    
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-size: 17pt;
}

.projectlist-buton{
    background: #3c373e;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

.container{
    color: white;
    margin: auto;
    padding: 50px;
    width: 85%;
    background: white;
}

.projectlist{
    cursor: pointer;
    list-style: none;
}

.projectlist-title{
    color: black;
    font-weight: bold;
    background: #3c373e;
    padding: 2px;
}

.projectlist-cliquable{
    background: #ea4f9d;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px; 
}


.projectlist-cliquable:hover{
    background: #3c373e;
}

.projectlist-item-id{
    width: 25px;
    display: inline-block;
}
.projectlist-item-name{
    width: 200px;
    display: inline-block;
}

.projectlist-item-start{
    width: 150px;
    display: inline-block;
}

.projectlist-item-end{
    width: 150px;
    display: inline-block;
}


.projectlist-item-opt{
    width: 250px;
    display: inline-block;
}

.projectlist-item-opt button{

width: auto;

-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #3c373e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}
.projectlist-item-opt button:hover{
  background: 	#ea4f9d;
  text-decoration: none;
}

footer{
    margin: auto;
    padding: 20px;
    width: 90%;
    background: #3c373e;
}
.addbutton{
    height: 25px;
font-size: 10pt;
width: 70px;
    background: #3c373e;
}